<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.citydo.module.basic.mapper.RolePermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.citydo.module.basic.entity.RolePermission">
        <id column="id" property="id" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updator" property="updator" />
        <result column="update_time" property="updateTime" />
        <result column="del" property="del" />
        <result column="role_id" property="roleId" />
        <result column="permission_id" property="permissionId" />
    </resultMap>
    <!--查询已有的权限-->
    <select id="selectHasPermissionByParam" parameterType="java.util.Map" resultType="cn.com.citydo.module.basic.vo.RolePermissionVO">
        SELECT t.*,
        case
        when t.role_id = #{roleId} then '1'
        else '0'
        END AS RESULT
        from sec_role_permission t where t.del = '0'
    </select>

</mapper>
