<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.citydo.module.screen.mapper.EventWarningDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.citydo.module.screen.entity.EventWarningDetail">
        <result column="id" property="id" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updator" property="updator" />
        <result column="update_time" property="updateTime" />
        <result column="del" property="del" />
        <result column="event_warning_id" property="eventWarningId" />
        <result column="username" property="username" />
        <result column="picture" property="picture" />
        <result column="sex" property="sex" />
        <result column="phone" property="phone" />
        <result column="tag" property="tag" />
        <result column="address" property="address" />
        <result column="track" property="track" />
        <result column="capture" property="capture" />
        <result column="similarity" property="similarity" />
    </resultMap>

</mapper>
